<%= render 'admin/shared/dashboardHeader' %>
<h1 class="fa fa-file-text"><%= @title %></h1>
<div class="content-box content-box-inner">
  <div class="ct-header">
    <h1><%= @title %></h1>
  </div>
  <div class="ct-body">
  <%= form_for @page, :url => {:action => 'create', :id => @page} do |f| %>
      <% if @page.errors.any? %>
      <ul>
        <%= @page.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <div>
        <%= f.label :title %>
      </div>
      <div>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :body %>
      </div>
      <div>
        <%= f.cktext_area :body, rows: 10 %>
      </div>
      <div>
        <%= f.submit %>
      </div>
  <% end %>
  </div>
  <%= link_to 'Back', {:action => 'index'} %>

<%= render 'admin/shared/dashboardFooter' %>