<%= render 'admin/shared/dashboardHeader' %>
<h1>User <%= @pages %></h1>
<h3>List of Users</h3>
<table>
	<tr><th>ID</th><th>NAME</th><th>EMAIL</th></tr>
	<% @users.each do |user|%>
	<tr><td><%= link_to user.id, {:action => 'show', :id => user.id} %></td><td><%= link_to user.name, {:action => 'show', :id => user.id} %></td><td><%= user.email%></td><td><%= user.password%></td><td><%= link_to "Edit", {:action => 'edit', :id => user.id } %></td><td><%= link_to "Destroy", {:action => 'delete', :id => user.id }, :confirm => "Are you sure want to delete?" %></td></tr>
	<% end %>
</table>

<%= render 'admin/shared/dashboardFooter' %>