<%= render 'admin/shared/dashboardHeader' %>
<div class="content-box content-box-inner">
  <div class="ct-header">
    <h1>Add New User</h1>
  </div>
  <div class="ct-body">
    <%= form_for @user, :url => {:action => 'create', :id => @user} do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
       <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>
       <div class="field">
        <%= f.label :bio %><br />
        <%= f.text_area :bio, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :role %><br />
        <%= f.text_field :role, autofocus: true %>
      </div>
       <div class="field">
        <%= f.label :telephone %><br />
        <%= f.telephone_field :telephone, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

  <%= link_to 'Back', {:action => 'list'} %>
  </div>
</div>
<%= render 'admin/shared/dashboardFooter' %>
