<section class="admin-dashboard-body">
<%= stylesheet_link_tag 'admin-stylesheet', :media => 'all' %>
	<header class="static-header">
		<div class="site-owner">DOCTOR & ME</div><i class="fa fa-align-justify humburger-menu"></i>
		<div class="welcome-user">
			How are you doing, 
			<div class="current-user">
				<% if user_signed_in? %>
				<span><%= current_user.name %></span>
				<%= link_to "logout", destroy_user_session_path, :method => :delete %>
				<% else %>
				<%= link_to "login", new_user_session_path %>
				<% end %>
			</span>
		</div>
	</header>
	<section class="content">
		<section class="left-grid">
			<div class="sidebar-top-panel">
				<div class="current_user">
					<%= image_tag('male.png', alt: 'user avatar', size: '40x40', class: 'user_avatar')%>
					<div class="admin-username">
						<p class=''><%= current_user.name %></p>
						<span class="fa fa-circle">Online</span>
					</div>
				</div>
				<form class="sidebar-form" action="/search" method="POST">
					<input type="search" placeholder="Search...">
				</form>
				<%= form_tag(admin_users_path, :method => "get", id: "search-form", :class => "sidebar-form") do %>
				    <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
				    <%= submit_tag "Search", :name => nil %>
				<% end %>
			</div>
			<%= render 'admin/shared/navmenu' %>
		</section>
		<section class="right-grid">
		<% flash.each do |name, msg|%>
	      <%= content_tag(:div, msg, class: "alert alert-info") %>
	    <% end %>
	    <h1 class="main-h1 fa fa-file-text"><%= @title %></h1>
		<span><%= "manage #{@title}" %></span>